.deliveryAddress {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em
}

.label {
  font-weight: 700;
  color: #666666;
}

.invalidField {
  border: .05em solid red;
}
.btnGroup{
  display: flex;
  justify-content: flex-end;
}
.invalidRateField {
  
}