button{
    background: #395aa1;
    border-radius: 20px;
    border-color: #EEEEEE;
    color: #EEEEEE;
    font-weight: 600px;
    height: 3em;
    justify-self: center;
    padding: 0 .5em;
}

button:hover{
    box-shadow: .75rem .25rem 1rem #b3b3b3;
}