form{
    display: flex;
}

.fieldContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.fieldContainer > div{
    display: flex;
    flex-direction: column;
    flex-basis: 50em;
}

.formButtonContainer{
    flex-direction: row!important;
    justify-content: space-between!important;
    flex-basis: 90%!important;
    margin-top: 2em;
    border-color: #b00c00,

}

label{
    text-transform: capitalize;
}