form{
    display: flex;
    margin: 0 5em;
    padding: 2em 5em!important;
}

.fieldContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.fieldContainer > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    flex-basis: 50em;
}

.fieldContainer > div:nth-child(14), 
.fieldContainer > div:nth-child(15),
.fieldContainer > div:nth-child(16) {
    flex-basis: 10em;
}

.formButtonContainer{
    flex-direction: row!important;
    justify-content: space-evenly!important;
    flex-basis: 100%!important;
    margin-top: 2em;
}

label{
    text-transform: capitalize;
}


input[type="color"]{
    width: 150px;
    height: 50px;
    padding: 0;
}