.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: fit-content; /*There's a div in the GoogleLogin component that is set to a min of 20px*/
  padding: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0; left: 0;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-header-margin {
  margin-left: .75vh;
  margin-right: .75vh;
  flex-basis: 5vh;
}

.App-header-optional-text {
 flex-grow: 0; flex-shrink : 0;
 flex-basis: 8vh;
 flex-wrap: nowrap;
 overflow: hidden;
 font-size: 2vh;
}

.App-header .App-logo {
  margin-right: auto;
  margin-left: 1vh;
  flex-basis: 40vh;
}

.App-header > svg:hover, button:hover, span:hover {
  cursor: pointer;
  fill: gainsboro;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Set-to-front {
  z-index: 500;
}
