.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, auto);
  justify-content: space-evenly;
  margin: 20px;
  width: fit-content;
}
.appContainer {
  display: grid;
  grid-template-areas: 'sideBar app';
}
.sideBar {
    grid-area: 'sideBar';
    float: 'left';
    width: 'fit-content';
    height: '100%';
     margin: '1px'
}
